@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --white: #fafafa;
    --purple: #7D3C98;
    --orange: #e96f19;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--white);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

}

.header-logo {
    color: var(--purple);
    font-size: 1.2em;
    font-weight: 800;
    text-decoration: none;
}

.header-nav-ul {
    display: flex;
    list-style: none;
    gap: 2.4em;
    
}

.header-nav-ul a {
    text-decoration: none;
    font-weight: 600;
    
    color: var(--black);
}

.header-nav-ul a:hover {
    color: var(--purple);
}

#img-cart {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.main-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0em 1em 1em 1em;
}

.items-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;

    width: 1200px;
    height: 100%;
}

.item-card {
    border-radius: 1em;
    box-shadow: 2px 2px 10px #00000010;
    cursor: pointer;


}

.item-card__images {
    width: 250px;
    height: 250px;
}



 








@media (max-width: 767px) {
    .header-nav-ul {
        display: none;
    }

    .main {
        flex-wrap: wrap;
    }

    .main-content {
        padding: 0;
    }
}